@import '~bootstrap/dist/css/bootstrap.css';

h3 {
  text-transform: capitalize;
}

form {
  margin-top: 40px;
}

.buttons {
  display: block;
  line-height: 34px;
  text-align: center;
  width: 100%;
}

button {
  width: 30%
}